@model IEnumerable<Ecomm.Models.Product>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>Products in Cart</h1>

<p>
    <a asp-action="ViewProduct">Product List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                @Html.ActionLink("Remove", "RemoveFromCart", new { cid = item.CId }) |
                @Html.ActionLink("Order Now", "AddCartToOrder", new { id = item.Id }) 

            </td>
        </tr>
}
    </tbody>
</table>
